<div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
      <li class="sidebar-brand"><a>Menu </a></li>
    </ul>
    <div class="sidebar-nav" style="margin-left: 30px">
      <li><a>Aktualności</a></li>
      <li><a>Branże</a></li>
      <li><a>Produkty</a></li>
      <li><a>Usługi</a></li>
      <li><a>Referencje</a></li>
      <li><a>Kontakt</a></li>
    </div>
    <div class="sidebar-nav-2" style="margin-left: 30px">
      <li><a>O firmie</a></li>
      <li><a>Nagrody</a></li>
      <li><a>Relacje inwestorskie</a></li>
      <li><a>Partnerzy</a></li>
      <li><a>Kariera</a></li>
    </div>
    <div class="img-container">
      <img src="../../../assets/img/linkedin (1).png" height="70" width="60"/>
    </div>
  </div>
</div>

