<nav class="navbar navbar-expand-md navbar-fixed-top main-nav"style="background-color: #07385e; margin-left: -150px">
  <div class="container">
    <ul class="nav navbar-nav mx-auto li a " >
      <p><li class="nav-item"><a class="nav-link" >Aktualności</a></li><p>
      <p><li class="nav-item"><a class="nav-link" >Branże</a></li><p>
      <p><li class="nav-item"><a class="nav-link" >Produkty</a></li><p>
      <p><li class="nav-item"><a class="nav-link" >Usługi</a></li><p>
      <p><li class="nav-item"><a class="nav-link" >Referencje</a></li><p>
      <p><li class="nav-item"><a class="nav-link" >Kontakt</a></li><p>
    </ul>
    <nav class="navbar justify-content-between" style="margin-right: -420px">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </nav>
  </div>
</nav>
