<div class="container" style="text-align: center">
  <img src="../../../assets/img/logo simple2.png" height="100" width="200" style="align-content: flex-start"/>
  <div class="col-sm-2">
    <img style="margin-top: 50px" src="../../../assets/img/home.png"  height="70" width="70"
         style="align-content: center">
  </div>
  <div class="row">
    <div class="col-sm" style="text-align: left">
      Lorem ipsum dolor sit amet
      <img style="margin-top: 50px" src="../../../assets/img/men.png" height="400" width="550"/>
      <br>
      Consectetur adipiscing elit. Duis ut egestas felis, et commodo magna. Praesent venenatis quis enim ac posuere.
      Sed ultrices et metus at facilisis. Praesent consectetur neque eu ante tincidunt convallis.
      In sagittis, mi id tempus semper, urna nisi lacinia nulla, id fringilla sapien justo ut diam.
      Nulla elementum sem nulla, vitae tempus sem mattis vehicula.
      Vestibulum a urna sed leo tempor commodo eget et odio.
      <br>
      <br>
      Proin auctor aliquet risus, sed eleifend quam molestie quis. Quisque volutpat augue eget lectus euismod congue.
      Donec lacinia egestas aliquam.
      Suspendisse ultrices, nibh vitae ornare fringilla, elit est pellentesque nulla, et viverra tortor diam quis orci.
      Pellentesque quis nunc non dui suscipit sagittis non id dui.
      Donec suscipit dui vel tincidunt suscipit. Donec tristique diam lectus, eget efficitur lectus viverra non.
    </div>
    <div class="col-sm" style="text-align: left">
      <br>
      <br>
      <br>
      Duis erat arcu, luctus et libero eget, accumsan sollicitudin neque. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut at arcu ut quam lacinia bibendum.
      Proin tempor mauris sem, ac blandit metus fringilla ac. Nam luctus arcu id libero dictum fermentum.
      Curabitur euismod, urna quis imperdiet lacinia, lorem neque consequat leo, hekindrerit ultricies quam dolor ac
      turpis.
      Vestibulum pharetra efficitur dolor, non luctus ipsum porttitor at.
      <br>
      <br>
      <div class="col-smm" style="text-align-last: start">
        Sed finibus fermentum magna, ac eleifend mi lacinia sed. Nunc eleifend condimentum varius.
        Nam consequat dapibus dictum. Mauris finibus faucibus dolor, sed facilisis leo commodo sed.
        leo magna, aliquam ac viverra in, convallis non velit. Donec id ipsum eu odio pellentesque maximus sed nec
        sapien.
        Ut molestie nec odio nec pulvinar. Pellentesque et dui eu justo ultrices volutpat.
        <br>
        <br>
        <div class="col-smmm" style="text-align-last: start">
          Nunc hendrerit ullamcorper ligula, non tempus nunc elementum vitae. Quisque fringilla lectus velit, id auctor
          nibh tempor ut.
          Quisque malesuada ullamcorper lacus, vel laoreet tortor tempor ac.
          Nunc sit amet felis vehicula, venenatis nisl at, efficitur tellus.
          Maecenas sed augue tortor. Curabitur placerat, dolor eu fermentum varius, lacus enim feugiat diam, id lobortis
          nibh orci eget ante.
          Morbi nec turpis ut eros dictum rutrum.
        </div>
        <div class="col-smmmm" style="text-align-last: start">
          Nunc commodo pellentesque tempor. Quisque in nisl a diam ultrices elementum in eget tortor. Quisque blandit
          pharetra bibendum.
          Pellentesque rutrum libero vel turpis sodales, ac facilisis eros lacinia. Etiam lacinia rutrum est vitae
          tincidunt.
          Duis efficitur eros sed vulputate faucibus. Suspendisse euismod vestibulum commodo. Donec in volutpat nibh.
          Suspendisse mattis egestas purus, vel mollis velit malesuada ac.
          Vestibulum malesuada molestie nunc, laoreet varius dui efficitur a.
        </div>
      </div>
    </div>
  </div>
</div>
